<div>
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th class="header align-center">枠番</th>
        <th class="header align-center">馬番</th>
        <th class="header align-center">馬名</th>
        <th class="header align-center">馬齢</th>
        <th class="header align-center">斤量</th>
        <th class="header align-center">騎手</th>
      </tr>
    </thead>
    <tbody>
      <% @horse_list.each do |horse| %>
        <tr>
          <td class="horse-table gate-number"><%= "#{horse[:gate_number]}" %></td>
          <td class="horse-table horse-number"><%= "#{horse[:horse_number]}" %></td>
          <td class="horse-table horse-name"><%= "#{horse[:horse_name]}" %></td>
          <td class="horse-table horse-age"><%= "#{horse[:horse_age]}" %></td>
          <td class="horse-table horse-handi"><%= "#{horse[:horse_handi]}" %></td>
          <td class="horse-table horse-jockey"><%= "#{horse[:horse_jockey]}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
