<div class="page-header title-header">
  <h2 class="race-list-title">
    <%= @date %>
  </h2>
</div>

<div class="race-date-div-wide panel panel-info">
  <div class="panel-heading align-center">開催日一覧</div>
  <div class="panel-body">
    <% @race_header.each do |header| %>
      <%= link_to header[:date], horse_race_race_list_path(target: header[:url], date: header[:date]), class: 'btn btn-primary race-date-button-wide' %>
    <% end %>
  </div>
</div>

<div>
  <% @race_per_place_list.each do |race_per_place| %>
    <div class="race-per-place-div panel panel-default">
      <div class="panel-heading align-center">
        <p class="race-count"><%= race_per_place[:race_place_info][:date] %></p>
        <p class="race-condition"><%= race_per_place[:race_place_info][:condition] %></p>
      </div>
      <% race_per_place[:race_list].each do |race| %>
        <div class="race-number-div bg-primary">
          <p class="race-number align-center"><%= "#{race.get_race_number}R" %></p>
        </div>
        <%= link_to horse_race_horse_list_path(target: race.url), class: race.get_race_button_class do %>
          <%= race.title %><br><%= race.detail %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
