<!DOCTYPE html>
<html>
  <head>
    <title>tekkaba</title>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'tekkaba', root_path, class: 'navbar-brand' %>
        </div>
        <% if user_signed_in? %>
          <%= link_to 'Logout', sign_out_path, class: 'btn btn-primary button-session' %>
          <p class="user-header">Current User: <%= current_user.user_name %></p>
        <% else %>
          <% if !request.url.match(/sign_in/) %>
            <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary button-session' %>
          <% end %>
        <% end %>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
